* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/oobc image.jpeg");
    background-size: cover;
}

.banner:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #282338;
    opacity: 0.45;
}

.banner .content {
    max-width: 900px;
    text-align: center;
    z-index: 1;
}

.banner .content h2 {
    margin-top: 30px;
    font-size: 5em;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}

.banner .content p {
    font-size: 1.2em;
    color: #fff;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #282338;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.logowrap {
    position: relative;
}

.logo img {
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

/*header .logo {*/
/*    color: #fff;*/
/*    font-weight: 700;*/
/*    font-size: 2em;*/
/*    text-decoration: none;*/
/*}*/

header.sticky .logo {
    color: #111;
}


header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style-type: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #ff0157;
}


.login {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.login .home {
    position: absolute;
    padding: 10px;
    background: #5b5a5a;
}

.login .home a {
    text-decoration: none;
    color: white;
}

.login .contentBx {
    background: #162c3b;
    padding: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login .contentBx h2 {
    font-size: 2em;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
}

.imgBx2 {
    background-size: cover;
    background: url(../img/student.jpg) center;
    width: 50%;
}

.blackbg {
    background: #111111;
    width: 50%;
}

.errors {
    background: white;
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

.errors p {
    color: red;
    font-weight: initial;
}

.redbg {
    background-size: cover !important;
    background: url(../img/blue-bg.jpg) center !important;
}

.redbg .check {
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 18px;
}

.redbg .check a {
    font-weight: bold;
    text-decoration: none;
    color: gold;
}

.redbg .check a:hover {
    color: #fff;
}

.about {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.about .contentBx {
    background: #162c3b;
    padding: 220px 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .imgBx {
    background: url("../img/SEAT.jpg");
    width: 50%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.contact {
    padding: 100px;
    background: #cbd4db;
    text-align: center;
}

.dark {
    color: #162c3b !important;
}

.heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}


.form .inputBx {
    margin-bottom: 5px;
}

.form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx select {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder {
    color: #fff;
}

.form .inputBx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    min-height: 150px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBx textarea::placeholder {
    color: #fff;
}

.form .inputBx input[type="submit"] {
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400;
    margin-top: 20px;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #FF5500;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .sec h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffeb3b;
}

footer .container .sec p {
    color: #fff;
}

.sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #FF5500;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}


.sci li a:hover {
    background: #162c3b;
}

.sci li a .fab {
    color: #fff;
    font-size: 20px;
}

.quicklinks {
    position: relative;
}

.quicklinks li {
    list-style: none;
}

.quicklinks li a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks li a:hover {
    color: #ffeb3b;
}

.info {
    position: relative;
}

.info li {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-top: 5px;
}

.info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
}

.info li span {
    color: #fff;
}

.info a {
    color: #f7f7f7;
    text-decoration: none;
}

.info a:hover {
    color: #ffeb3b;
}

.copyrightText {
    width: 100%;
    background: #db5711;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
}


@media (max-width: 991px) {
    .banner {
        padding: 50px;
    }

    .banner header {
        padding: 20px 50px;
    }

    .banner .content h2 {
        font-size: 36px;
    }

    .banner .content p {
        font-size: 16px;
    }

    .login {
        flex-direction: column;
    }

    .login .contentBx, .login .imgBx {
        width: 100%;
        padding: 50px;
        min-height: inherit;
        text-align: center;
        justify-content: center;
    }
    footer {
        padding: 40px;
    }

    footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyrightText {
        padding: 8px 40px;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx, .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 1000px;
        text-align: center;
    }

    .about .imgBx {
        background-position: center;
    }

}

@media (max-width: 768px) {
    footer .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .about .contentBx, .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 700px;
        text-align: center;
    }

    .about .imgBx {
        background-position: center;
    }
}